*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 10px;
}
#wrap{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 480px;
	max-height: 775px;
	margin: 0 auto;
	overflow: hidden;
}
/*下滑提示图标*/
#wrap #nextIcon{
	position: absolute;
	left: 0;
	bottom: 2.06612%;
	z-index: 99;
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	color: white;
	-webkit-animation: fadeIn 1s linear infinite alternate;
	animation: fadeIn 1s linear infinite alternate;
}
#wrap #nextIcon img{
	width: 8.33333%;
}
/*loading界面*/
#loadMask{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	z-index: 9999;
}
#wrap #page{
	width: 100%;
	height: 100%;
}
#wrap .swiper-wrapper #page_one{
	background: #88dbf4;
}
#wrap .swiper-wrapper #page_one>img{
	position: absolute;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(1){
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*display: none;*/
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(2){
    width: 61.3125%;
    left: 0;
    top: 11%;
	-webkit-animation: fadeInLeftBig 1s linear;
	animation: fadeInLeftBig 1s linear;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(3){
	width: 54.6875%;
	right: 0;
	top: 39%;
	-webkit-animation: fadeInRightBig 1s linear;
	animation: fadeInRightBig 1s linear;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(4){
	width: 57.03125%;
	left: 50%;
	top: 52%;
	margin-left: -28.515625%;
	-webkit-animation: fadeIn 1s linear;
	animation: fadeIn 1s linear;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(5){
	width: 57.03125%;
	left: 50%;
	bottom: 14%;
	margin-left: -28.515625%;
	-webkit-animation: fadeIn 1s linear;
	animation: fadeIn 1s linear;
}
#wrap .swiper-wrapper #page_one>img:nth-of-type(6){
    width: 35.9375%;
    left: 50%;
    top: 29%;
	margin-left: -17.96875%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
    display: none;
    /*opacity: 0;*/
}
#wrap .swiper-cube-shadow{
	display: none;
}
/*page1*/
#wrap .swiper-wrapper .swiper-slide{
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#page canvas{
	position: absolute;
	left: 0;
	top: 0;
}
@-webkit-keyframes myFlash {
  from, 50%, to {
    opacity: .7;
  }
  25%, 75% {
    opacity: 0;
  }
}
#page .flashArc{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(255,255,255,.85);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
    -webkit-animation: myFlash 1.5s linear infinite alternate;
	animation: myFlash 1.5s linear infinite alternate;
}
#page .page_Text1{
	position: absolute;
    width: 18.64945%;
    left: 50%;
    top: 10%;
    margin-left: -9.324725%;
    font-size: 8rem;
    color: white;
    text-align: left;
}
#page .page_Text2{
	position: absolute;
	width: 23.47418%;
	left: 50%;
	top: 52.5%;
	margin-left: -11.73709%;
	color: #edb626;
	text-align: left;
}
#page .page_Text2>span{
	display: block;
	margin-top: 7%;
}
#page .page_Text2>span:nth-child(1){
	font-size: 1.3rem;
}
#page .page_Text2>span:nth-child(2),#page .page_Text2>span:nth-child(3){
	font-size: 2.5rem;
	color: white;
}
#page .page_Text2>span:nth-child(4),#page .page_Text2>span:nth-child(5){
	font-size: 1.5rem;
}
#page .page_Text2>span:nth-child(6){
	font-size: 3.5rem;
	color: #226f8d;
}
#flashBox,#flashBox_three,#flashBox_four,#flashBox_five,#flashBox_six,#flashBox_seven,#flashBox_eight{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#pageTwoText3{
	position: absolute;
    width: 26.60407%;
    right: 17.68388%;
    bottom: 14.22319%;
    font-size: 6rem;
    color: white;
    text-align: center;
}
#bgImgMask,#fiveBgImgMask{
	/*width: 100%;
	position: absolute;
	top: 5.4705%;
	left: 0;
	height: 84.698%;*/
	position: absolute;
    top: 13.5705%;
    left: 7.7423%;
    width: 84.20704%;
    height: 75.998%;
}
#pageFourText3{
	position: absolute;
    width: 26.60407%;
    left: 17.68388%;
    bottom: 16.22319%;
    font-size: 6rem;
    color: white;
    text-align: center;
}
#fiveBgImgMask{
	top: 14.0705%;
}
#pageSixText3{
	position: absolute;
    width: 26.60407%;
    right: 8.68388%;
    bottom: 29.22319%;
    font-size: 6rem;
    color: white;
    text-align: center;
}
#sevenBgImgMask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	opacity: 0;
	z-index: 99;
	visibility: hidden;
	-webkit-transition: all .6s;
	transition: all .6s;
}
#page_seven_icon{
	position: absolute;
	bottom: 0;
	left: 1.5%;
	width: 4.69484%;
	height: 56.78337%;
	z-index: 100;
	-webkit-transition: all .1s;
	transition: all .1s;
}
/*#line{
	position: absolute;
    left: 3.79%;
    bottom: 0;
    height: 56.78337%;
    width: 0;
    border-left: 1px solid white;
    z-index: 100;
    	-webkit-transition: all .1s;
	transition: all .1s;
}*/
#page_seven .poster,#page_seven .defaultPoster{
	position: absolute;
    width: 81.8967%;
    left: 50%;
    top: 12.11159%;
    margin-left: -38.44835%;
    	-webkit-transition: all .3s;
	transition: all .3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
#page_seven .defaultPoster{
	opacity: 1;
}
#page_seven>img:nth-of-type(2),#page_seven>img:nth-of-type(3),#page_seven>img:nth-of-type(4){
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
#page_seven>img:nth-of-type(2){
	-webkit-transform: rotate(4deg);;
	transform: rotate(4deg);
}
#page_seven>img:nth-of-type(3){
	-webkit-transform: rotate(2deg);;
	transform: rotate(2deg);
}
#sevenBgImgMask #close{
    position: absolute;
    right: 5%;
    top: 8%;
    font-size: 2rem;
    color: white;
}
#page_seven .hide{
	opacity: 0;
}
#sevenBgImgMask .active{
	z-index: 103;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
#sevenBgImgMask .next-active,#sevenBgImgMask .pre-active{
	z-index: 102;
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}
#sevenBgImgMask .nextNext-active,#sevenBgImgMask .prePre-active{
	z-index: 101;
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
}
@-webkit-keyframes myRollOut {
  from {
    opacity: 1;
    z-index: 104;
  }

  to {
    opacity: 0;
    z-index: 104;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -60deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -60deg);
  }
}
.myRollOut {
  -webkit-animation-name: myRollOut;
  animation-name: myRollOut;
}
@-webkit-keyframes myRollIn {
  from {
    opacity: 0;
    z-index: 104;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -60deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -60deg);
  }

  to {
    opacity: 1;
    z-index: 104;
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.myRollIn {
  -webkit-animation-name: myRollIn;
  animation-name: myRollIn;
}
#pageEightText3{
    position: absolute;
    width: 26.60407%;
    left: 53%;
    bottom: 14.22319%;
    margin-left: -13.302035%;
    font-size: 6rem;
    color: white;
    text-align: center;
}
#media{
	position: absolute;
	left: 1.26%;
	top: 16%;
	width: 97.80908%;
}
#page_nightText{
    position: absolute;
    left: 8%;
    top: 50%;
    width: 66.17505%;
}
#page_nightText span{
	color: white;
	display: block;
}
#page_nightText span:nth-child(1){
	font-size: 2.0rem;
}
#page_nightText span:nth-child(2){
	font-size: 2.5rem;
}
#page_nightBg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#page #page_two,#page #page_four,#page #page_six,#page #page_seven,#page #page_eight,#page #page_night{
	background: url(../img/pageBg.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
#page #page_three{
	background: url(../img/pageThreeBg.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
#page #page_five{
	background: url(../img/pageFiveBg.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
@media only screen and (min-width: 421px) and (max-width: 450px){
    html,body{
		font-size: 8px;
	}
	#media{
		max-height: 30.08753%;
	}
	/*#page_seven_icon{
		left: 1.2%;
	}*/
}
@media only screen and (min-width: 381px) and (max-width: 420px) {
	html,body{
		font-size: 7px;
	}
	#media{
		max-height: 30.08753%;
	}
	/*#page_seven_icon{
		left: 0.9%;
	}*/
}
@media only screen and (max-width: 380px) {
	html,body{
		font-size: 5px;
	}
	#media{
		max-height: 30.08753%;
	}
    #page .page_Text2{
    	    margin-left: -10.73709%;
    }
	/*#page_seven_icon{
		left: 0.9%;
	}*/
}